{% extends 'base.html.twig' %}

{% block title %}Edit Vetement{% endblock %}

{% block body %}
    <h1>Edit Vetement</h1>

    {{ include('vetement/_form.html.twig', {'button_label': 'Update'}) }}

    <a  class="btn btn-secondary" href="{{ path('vetement_index') }}">back to list</a>

    {{ include('vetement/_delete_form.html.twig') }}
{% endblock %}
