{% extends 'base.html.twig' %}

{% block title %}New Cafe{% endblock %}



{% block body %}


    {{ include('cafe/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('cafe_index') }}">Back to list</a>
{% endblock %}
