 {% extends 'headerfooter.html.twig' %}

 {% block body %}
 <!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Directory HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <body>
        <main>
        <!-- Hero Start-->
        <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>A Propos </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Hero End -->
        
        <div class="about-details section-padding2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle5 mb-80">
                            <span>About our company</span>
                            <h2>Rendre Ma Ville Connectée .</h2>
                        </div> 
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-lg-5">
                        <h3>Notre Mission</h3>
                        <p>   <b> نتحرك , نحب طبيب , جعت , , نحب نقشش ,,  نحب نتفرهد ,نحب نبحر , نحب نقهوج  , Coworking Space  نحب , SPORT نحب نعمل </b> <br> Vous êtes à la recherche d'un restau , d'un café pour une pause ou pour travailler ?  visitez notre Site ' Ma Ville en poche ' . <br> 
                            Nous vous informons sur les évènements , informations pratiques des lieux de vie, de sport et de culture .
                        </p> </div>
                    <div class="col-lg-5">
                        <h3>Innovation</h3>
                        <p>Ma ville en Poche le premier Site en Tunisie qui connecte Ma ville .<br> 
                            
                    </div>
                </div>
            </div>
        </div>
        <!-- About Details End -->


       
        <!-- peoples-visit Start -->
        <div class="peoples-visit dining-padding-top">
            <!-- Single Left img -->
            <div class="single-visit left-img">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-lg-8">
                            <div class="visit-caption">
                                <span> Nous vous offrons </span>
                               <!--Single Visit categories -->
                               <div class="visit-categories mb-40">
                                <div class="visit-location">
                                    <span class="flaticon-travel"></span>
                                </div>
                                <div class="visit-cap">
                                    <h4>Des multiservices</h4>
                                   
                                </div>
                            </div>
        
                               
                                <!--Single Visit categories -->
                                <div class="visit-categories mb-40">
                                    <div class="visit-location">
                                        <span class="flaticon-travel"></span>
                                    </div>
                                    <div class="visit-cap">
                                        <h4>Flexcibilité et évolutivité </h4>
                                       
                                    </div>
                                </div>
                                <!--Single Visit categories -->
                                <div class="visit-categories">
                                    <div class="visit-location">
                                        <span class="flaticon-work"></span>
                                    </div>
                                    <div class="visit-cap">
                                        <h4>
                                            Un Site Simple et rapide <br></h4>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- peoples-visit End -->
    </main>
       </body>
</html>
{% endblock %}